{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'juridico/css/style.css' %}">

</head>
<body>

    {% include 'juridico/includes/sidebar.html' with exibir_botoes_modais=True %}
    {% include 'juridico/includes/modal_processo.html' %}
    {% include 'juridico/includes/modal_advogado.html' %}
    {% include 'juridico/includes/modal_upload_excel.html' %}

    <div class="content">
        <a href="{% url 'exportar_processos_excel' %}" class="btn btn-success">Excel</a> 

        <!-- Filtros -->
        <form id="filter-form" data-url="{% url 'home' %}" method="get" class="mb-4 p-3 bg-white rounded shadow-sm">
            <div class="row g-3">

                <!-- Coluna 1 -->
                <div class="col-md-3">
                    <label class="form-label">{{ filter_form.numero_processo.label }}</label>
                    {{ filter_form.numero_processo|add_class:"form-control" }}

                    <label class="form-label mt-3">{{ filter_form.status.label }}</label>
                    {{ filter_form.status|add_class:"form-select" }}

                    <label class="form-label mt-3">{{ filter_form.instancia.label }}</label>
                    {{ filter_form.instancia|add_class:"form-select" }}

                    
                </div>

                <!-- Coluna 2 -->
                <div class="col-md-3">
                    <label class="form-label">{{ filter_form.advogado.label }}</label>
                    {{ filter_form.advogado|add_class:"form-select" }}

                    <label class="form-label mt-3">{{ filter_form.nome_autor.label }}</label>
                    {{ filter_form.nome_autor|add_class:"form-select" }}

                    <!-- Botão Limpar Filtros -->
                    <div class="mt-4">
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary">
                            <i class="fas fa-times me-2"></i> Limpar Filtros
                        </a>
                    </div>
                </div>
                                <!-- Tabela -->
                <div id="processo-tabela">
                    {% include 'juridico/partials/processo_tabela.html' %}
                </div>
    </div>
    <script src="{% static 'juridico/js/filters.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
</body>
</html>