    <!-- Modal de Detalhes -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detalhes do Processo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Unidade:</strong> <span id="modal-unidade"></span></p>
                    <p><strong>Tipo de Processo:</strong> <span id="modal-tipo_processo"></span></p>
                    <p><strong>Ação:</strong> <span id="modal-acao"></span></p>
                    <p><strong>Contrato Envolvido:</strong> <span id="modal-contrato_envolvido"></span></p>
                    <p><strong>Cidade:</strong> <span id="modal-cidade"></span></p>
                    <p><strong>Valor da Causa:</strong> <span id="modal-valor_causa"></span></p>
                    <p><strong>Vara:</strong> <span id="modal-vara"></span></p>
                    <p><strong>Fase:</strong> <span id="modal-fase"></span></p>
                    <p><strong>Instância:</strong> <span id="modal-instancia"></span></p>
                    <p><strong>Data de Propositura:</strong> <span id="modal-data_propositura"></span></p>
                    <p><strong>Advogado:</strong> <span id="modal-advogado"></span></p>
                    <p><strong>Status:</strong> <span id="modal-status"></span></p>
                    <p><strong>Nome do Autor:</strong> <span id="modal-nome_autor"></span></p>
                    <p><strong>CPF do Autor:</strong> <span id="modal-cpf_autor"></span></p>
                    <p><strong>Última Modificação:</strong> <span id="modal-data_ultima_modificacao"></span></p>
                    <p><strong>Juiz:</strong> <span id="modal-juiz"></span></p>
                    <p><strong>Número do Processo:</strong> <span id="modal-numero_processo"></span></p>
                    <p><strong>Descrição:</strong> <span id="modal-descricao"></span></p>
                </div>
            </div>
        </div>
    </div>